.home {
    height: 75vh;
    display: flex;
    margin-top: 10em;
    justify-content: center;
  
    &--x {
      color: $color3;
      text-align: center;
  
      h1 {
        font-size: 6rem;
        margin-bottom: 1rem;
        font-family: $font-family-1;
      }
  
      p {
        font-size: 1.5rem;
        font-family: $font-family-1;
      }
    }
  }
  